* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
/* HEADER */
.sticky-logo {
    height: 160px;
    width: 160px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 150px;
}

ul {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 15px;
    list-style: none;
}

.logo {
    width: 170px;
    left: 15px;
    background-size: contain;
    color: #f9faf8;
    font-size: 24px;
    
}
.header-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}
/* HERO SECTION */
.hero-all {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding-bottom: 150px;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 25%;
    flex-wrap: wrap;
    
    background-color: #1f2937;
}
.hero-right
{
    display: flex;
    
    
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-btn {
   background-color: #3882F6;
   padding: 15px 32px;
   color: white;
   border: none;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 5%;
   margin: 20px;
   max-width: 250px;
}

/* Second Section - Information Section */
.second-section {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 30px;
}

.information-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 30px;
    
}

.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product-text {
    max-width: 150px;
    padding: 10px;
    text-align: center;
}

/* Third Section - Reviews/Quotes */
.third-section {
    display: flex;
    background-color: #E5E7EB;
   
    flex-direction: column;
    padding: 15rem;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    text-align: justify;
    max-width: 75%;  
}
.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    padding-right: 255px;
    font-weight: 900;
}

/* Final Section - Call to Action */

.final-section {
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    background-color: #3882F6;
    margin-left: 827px;
    margin-top: 67px;
    margin-bottom: 67px;
    padding: 30px;
    height: auto;
    max-width: 940px;
    border-radius: 15px 15px 15px 15px;
}
.cta-text {
    color: white;  
    
}

.final-btn {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.last-cta-btn {
    padding: 15px 32px;
    color: white;
    border: solid;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px 15px 15px 15x;
    border-color: white;
    background-color: #3882F6;
    max-width: 250px;  
    margin-left: 85px;
}

/* Button Effect */
button {
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

/*FOOTER */
.footer {
    background-color: #1F2937;
    color: white;
    padding: 30px;
    text-align: center;
}